
<title>@student.name</title>
<h1>@student.name</h1>
<h1>
  <%= gravatar_for @student %>
  <%= @student.name %>
</h1>
<%= @student.name %>, <%= @student.email %>, <%= @student.dob %>, <%= @student.gender%>, <%= @student.school %> 
