<title><%= @user.name %></title>
<h1><%= @user.name %></h1>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p>Hi</p>  <%= @user.name %>,</br>
<p>You are registered and your details are below</p>
 <%= @user.email %>, </br>
 <%= @user.dob %>, </br>
 <%= @user.gender%>, </br>
 <%= @user.school %> </br></br></br>

 <%= link_to "Sign out", signout_path, class: "btn btn-large btn-primary" %></br></br>

 <%= link_to "Edit your profile", edit_user_path, class: "btn btn-large btn-primary" %>
